#infoDetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  background-color: red;
}

.container
{
  width: 18rem;
}
